@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: auto !important;
}

html.lenis, html.lenis body {
  height: auto;
}

body {
  background-color: #FAFAF8;
  color: #1A1A1A;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
